Repository zer0Kerbal/MoarKerbals, pull requests merged in 2021-11, with the labels that each got.

#74 dotnet build action
  .github/workflows/dotnet.yml
  Readme.md
Labels: Mod-enhancement

#79 upstream (master) pull
  Readme.md
  source/MoarKerbalS.csproj
Labels: upstream

#80 Espanol Localization
  GameData/KerbthulhuKineticsProgram/MoarKerbals/Localization/en-us.cfg
  GameData/KerbthulhuKineticsProgram/MoarKerbals/Localization/es-es.cfg
Labels: localization

#87 German localization
  GameData/KerbthulhuKineticsProgram/MoarKerbals/Localization/de.cfg
  Readme.md
  source/MoarKerbals.csproj
Labels: localization

#88 Quadruple translate
  GameData/KerbthulhuKineticsProgram/MoarKerbals/Localization/fr-fr.cfg
  GameData/KerbthulhuKineticsProgram/MoarKerbals/Localization/it-it.cfg
  GameData/KerbthulhuKineticsProgram/MoarKerbals/Localization/pl.cfg
  GameData/KerbthulhuKineticsProgram/MoarKerbals/Localization/ru.cfg
Labels: localization
